doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="")
		title Jana Souza - UI Designer

	body
		// header
		// -----------------------------------------
		include ./includes/header.jade

		// content
		// -----------------------------------------
		main.row
			div.content
				h1.titulo Sobre mim
				p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies lorem molestie eget. Vivamus aliquam velit vitae augue facilisis, vitae malesuada mauris aliquet. Nulla facilisi. Aenean ex augue, posuere sed fermentum et, fringilla in libero. Mauris id nunc sagittis, accumsan turpis id, volutpat leo. Morbi in ipsum nec nulla bibendum dapibus at nec.
				
				div.row
					div.redes-sociais
						a(href="https://www.behance.net/janasouza" TARGET="_blank") 
							img(src="assets/img/icon-behance.png")
						a(href="https://github.com/janasouza" TARGET="_blank")
							img(src="assets/img/icon-github.png")
						a(href="https://www.linkedin.com/in/souzajanaina" TARGET="_blank")
							img(src="assets/img/icon-linkedin.png")
						a(href="https://twitter.com/_janasouza" TARGET="_blank")
							img(src="assets/img/icon-twitter.png")
				
		div.linha
		
		main.row
			div.imagem-post-it
				img(src="assets/img/post-it.png")
			div.content-2
				h1.titulo Mais sobre mim
				p.texto Desde novinha sempre gostei muito de maquiagem e acompanhava algumas blogueiras até o dia em que decidi criar o meu próprio blog (não faz muito tempo) para compartilhar com outras meninas dicas e novidades do nosso universo. Como designer, planejei toda a identidade visual e o layout do blog. Com a ajuda do meu amigo <a class="link-frase" href="http://afonsopacifer.com" TARGET="_blank">Afonso Pacifer</a>, que cuidou da parte de front e back-end, estamos chegando na versão 2.0 muito mais funcional e com um novo esquema de cores.
				p.texto Acesse o blog <a class="link-frase"  href="http://marcandodebatom.com/" TARGET="_blank">www.marcandodebatom.com</a> 

		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
