doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="")
		title Jana Souza - UI Designer

	body
		// header
		// -----------------------------------------
		include ./includes/header.jade

		// content
		// -----------------------------------------
		main.row
			div.content
				h1.titulo Projetos 
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies lorem molestie eget. Vivamus aliquam velit vitae augue facilisis, vitae malesuada mauris aliquet. Nulla facilisi. Aenean ex augue, posuere sed fermentum et, fringilla in libero. Mauris id nunc sagittis, accumsan turpis id, volutpat leo. Morbi in ipsum nec nulla bibendum dapibus at nec.
				p janasouzadesigner@gmail.com
				
		div.linha
		
		div.row 
			div.content-project 
				img(src="assets/img/project-rio-js.png")
				div.content-txt-project
					h2 Rio.JS
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance	
						
			div.content-project 
				img(src="assets/img/project-meetup-marketing.png")
				div.content-txt-project
					h2 Meetup Marketing
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-nerddesign.png")
				div.content-txt-project
					h2 nerddesign
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-busca-carioca.png")
				div.content-txt-project
					h2 Busca Carioca
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-marcando-de-batom.png")
				div.content-txt-project
					h2 Blog Marcando de Batom
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-jana-souza.png")
				div.content-txt-project
					h2 Jana Souza
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance

		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
