doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="")
		title Jana Souza - UI Designer

	body
		// header
		// -----------------------------------------
		include ./includes/header.jade

		// content
		// -----------------------------------------
		main.row
			div.content
				h1.titulo Projetos 
				p.paragraph Confira abaixo alguns dos meus projetos mais recentes. Alguns projetos foram desenvolvidos em equipe onde fui responsavel pela interface e a programação ficou a cargo de outros membros do time. Já em outros projetos, cuidei tando do Design quanto do Front-End.<br> Tem algum projeto legal? Vamos trabalhar juntos!
				p janasouzadesigner@gmail.com
				
		div.linha
		
		div.row 
			div.content-project 
				img(src="assets/img/project-rio-js.png")
				div.content-txt-project
					h2 Rio.JS
					p Rio.JS é o Grupo de Desenvolvedores Javascript do Rio de Janeiro. O grupo foi criado em 8 de junho de 2011 tendo como objetivo compartilhar ideias sobre...
				div.botao-project
					a(href="https://www.behance.net/gallery/30710287/Blog-RioJS" TARGET="_blank")
						|Ver detalhes no Behance	
						
			div.content-project 
				img(src="assets/img/project-meetup-marketing.png")
				div.content-txt-project
					h2 Meetup Marketing
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum feugiat sodales. Fusce dapibus ultrices lorem, sit amet ultricies.
				div.botao-project
					a(href="https://www.behance.net/gallery/30710831/Meetup-Marketing" TARGET="_blank")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-busca-carioca.png")
				div.content-txt-project
					h2 Busca Carioca
					p Um site institucional desenvolvido para a Busca Carioca, que é uma agência de publicidade e marketing onde atuei como UI Designer/Front-end.
				div.botao-project
					a(href="https://www.behance.net/gallery/34147395/Busca-Carioca" TARGET="_blank")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-marcando-de-batom.png")
				div.content-txt-project
					h2 Blog Marcando de Batom
					p O Marcando de Batom é um blog feminino com foco em maquiagem, mas que aborda qualquer assunto relacionado a mulher. Com o objetivo de compartilhar dicas...
				div.botao-project
					a(href="https://www.behance.net/gallery/30738579/Blog-Marcando-de-Batom-10" TARGET="_blank")
						|Ver detalhes no Behance
						
			div.content-project 
				img(src="assets/img/project-jana-souza.png")
				div.content-txt-project
					h2 Site Pessoal
					p O meu site tem o objetivo de reunir todas as informações sobre a minha vida profissional. Dados, redes sociais e os meus principais projetos. <3
				div.botao-project
					a(href="#")
						|Ver detalhes no Behance

		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
		include ./includes/analytics.html
