// footer
// -----------------------------------------
.rodape
	background cor-principal

// direitos
.direitos-container
	@extend $col-12
	text-align center
	padding 8px
	font-size 14px
	color #fff

.direitos-container a
	text-decoration none
	color #fff
	transition opacity .5s

.direitos-container a:hover
	opacity.7
