@charset "UTF-8"

// base
// -----------------------------------------
@import "base/normalize"
@import "base/flex-grid-framework"

// configs
// -----------------------------------------
cor-principal = #c80280

// layout
// -----------------------------------------
@import "layout/header"
@import "layout/banner"
@import "layout/footer"
@import "layout/form"

// global
// -----------------------------------------
body
	background #e3e2e2
	font-family: 'PT Sans', sans-serif;

.row
	@extend $row

// div, section, article, footer, nav, header, main
// 	border 1px dashed #4ecb29

// index
// -----------------------------------------
.content
	@extend $col-10
	@extend $offset-1
	text-align center
	padding 40px 0
	@media screen and (max-width 1060px)
		mq-col(12)
		mq-offset(0)

.titulo
	font-size 22px
	color cor-principal

.redes-sociais
	@extend $col-12
	text-align center

.redes-sociais img
	padding 0 10px
	transition opacity .5s

.redes-sociais img:hover
	opacity .6

.linha
	@extend $col-10
	@extend $offset-1
	height 1px
	background cor-principal

.imagem-post-it
	@extend $col-3
	@extend $offset-1
	margin-top 40px
	@media screen and (max-width 1060px)
		mq-col(4)
		mq-offset(0)
	@media screen and (max-width 670px)
		mq-col(5)
	@media screen and (max-width 580px)
		mq-col(12)
		text-align center

.imagem-post-it img
	width 100%
	max-width 246px

.content-2
	@extend $col-7
	padding 60px 0
	@media screen and (max-width 1060px)
		mq-col(8)
	@media screen and (max-width 670px)
		mq-col(7)
	@media screen and (max-width 580px)
		mq-col(12)
		text-align center

.link-frase
	color cor-principal

.link-frase:hover
	opacity .7


//PROJETOS

.content-project
	@extend $col-3
	background #fff
	border 1px solid cor-principal
	margin-top 30px
	margin-bottom 30px
	@media screen and (max-width 930px)
		mq-col(4)
	@media screen and (max-width 690px)
		mq-col(6)

.content-project img
	width 100%
	max-width 350px
	border-bottom 1px solid #e3e2e2

.content-txt-project
	padding 10px
	font-size 14px

.content-txt-project h2
	font-size 18px

.botao-project
	width 100%
	padding 10px
	background cor-principal
	text-align center

.botao-project a
	text-decoration none
	color #fff
	transition opacity .5s

.botao-project a:hover
	opacity .7
