@charset "UTF-8"

// base
// -----------------------------------------
@import "base/normalize"

* {
	box-sizing border-box
}
// colors
// -----------------------------------------
pitaya = #f56282
banana = #f0ed4a
tutti-frutti = #7be3f6
uva = #b777f3

border()
	border 0px dashed #000

// global
// -----------------------------------------
body
	background-color #fff
	font-family 'Quicksand', sans-serif

.container
	border()
	width 100%
	max-width 900px
	margin 0 auto

.header
	display flex
	align-items center
	margin-top 30px

@media (max-width 480px)
	.header
		flex-wrap wrap
		padding 20px

.line
	width 100%
	height 2px
	background-image linear-gradient( to right, pitaya, banana, tutti-frutti, uva)
	margin-top 30px

.profile
	width 100%
	max-width 250px
	border-radius 50%
	margin-right 20px

@media (max-width 480px)
	.profile
		margin 0 auto 20px auto

.redes-sociais
	border()
	margin-left auto
	margin-top -40px

@media (max-width 890px)
	.redes-sociais
		margin 0
		position absolute
		right 20px
		top 20px

@media (max-width 480px)
	.redes-sociais
		margin 0
		position relative
		width 100%
		text-align center

.redes-sociais img
	width 35px
	margin 5px

.redes-sociais a
	transition opacity .3s

.redes-sociais a:hover
	opacity .7

.sub-heading
	font-family 'Sacramento', cursive
	font-size 26px
	margin 0

.heading-lv2
	font-family 'Sacramento', cursive
	font-size 32px
	margin 20px 0 10px 0
	padding 0 50px

.paragraph
	text-align center
	margin 0
	padding 0 50px

.cards
	display flex
	flex-wrap wrap
	margin-top 30px

.card
	border()
	width calc((100%/3) - 20px)
	margin 10px
	background-color #f9f3f4
	position relative
	padding-bottom 40px

@media (max-width 700px)
	.card
		width calc((100%/2) - 40px)
		margin 20px

@media (max-width 480px)
	.card
		width calc((100%/1) - 80px)
		margin 40px

.card img
	width 100%
	margin-bottom 10px

.card h3
	font-family 'Sacramento', cursive
	font-size 32px
	margin 10px 0
	text-align center
	width 100%

.card p
	margin 10px 0
	padding 0 10px
	width 100%

// .card-btn
.card-btn a
	display block
	width 100%
	text-align center
	padding 10px
	z-index: 2;
	color #fff
	text-decoration none
	transition opacity .3s
	position absolute
	bottom 0

.card-btn a:hover
	opacity .7

.pitaya
	background-color pitaya

.banana
	background-color banana

.tutti-frutti
	background-color tutti-frutti

.uva
	background-color uva

.footer
	margin-top 30px
	padding 10px
	background-color pitaya
	text-align center
	color #fff

.footer a
	color #fff
	text-decoration none
	transition opacity .3s

.footer a:hover
	opacity .6
