// metas
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

// favicons
link(rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32")

// CSS
link(rel="stylesheet" href="assets/styles/style.min.css")

// fonts
link(href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css')
