// header
// -----------------------------------------
div.topo
	div.row
		div.header
			div.img-container
				img(src="assets/img/jana-souza.png")
			div.logo-container
				img(src="assets/img/jana-souza-logo.png")
			div.legenda
				span UI Designer
				
		nav.menu
			ul
				li
					a(href="index.html" class="menu-link")
						|Sobre
				li
					a(href="projetos.html" class="menu-link")
						|Projetos
